<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Asset/img/logo.png" />
    <title>Rao Vặt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- Font Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> <!-- Font Roboto -->
    <link rel="stylesheet" href="~/Asset/fonts/fontawesome-free-5.15.2-web/css/all.min.css">  <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Asset/fonts/themify/themify-icons.css"> <!-- Themify icon -->
    <link rel="stylesheet" href="~/Asset/css/base.css">  <!-- Css Chung -->
    <link rel="stylesheet" href="~/Asset/css/main.css">  <!-- Css Chính -->
    <link rel="stylesheet" href="~/Asset/css/editinfo.css">
    <link rel="stylesheet" href="~/Asset/css/infouser.css">
    <link rel="stylesheet" href="~/Asset/css/createnews.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Asset/css/image-uploader.min.css">
    <link type="text/css" rel="stylesheet" href="~/Asset/admin/css/page.css" />
    <link type="text/css" rel="stylesheet" href="~/Asset/css/search.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="grid">
                <div class="header__nav">
                    <div class="header__nav-logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Asset/img/logo.png" alt="" class="header__img"></a>
                    </div>
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="@Url.Action("Index", "Home")" class="header__item-link blurred">
                                <i class="header__item-icon fas fa-home"></i>
                                <span class="header__item-text">Trang Chủ</span>
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__item-link blurred">
                                <i class="header__item-icon fas fa-bullhorn"></i>
                                <span class="header__item-text">Tôi Rao Vặt</span>

                            </a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__item-link blurred">
                                <i class="header__item-icon fas fa-sms"></i>
                                <span class="header__item-text"> Chat</span>
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link header__item-notifi">
                                <i class="header__item-icon far fa-bell"></i>
                                <span class="header__item-text">Thông Báo</span>
                                <div class="header_item-notifi-wrap">
                                    <h1 class="header_item-notifi-text">Hoạt Động</h1>
                                    <div class="header_item-notifi-line"></div>
                                </div>
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__item-link blurred">
                                <i class="header__item-icon ti-more-alt"></i>
                                <span class="header__item-text">Thêm</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header__with-search">

                    @{ Html.RenderAction("Search", "Home"); }

                    @{Html.RenderAction("CheckLogged", "Home");}
                    <a class="header__post-link btn public-news">
                        <i class="header__post-icon far fa-edit"></i>
                        <span class="header__post-text"> Đăng Tin </span>
                    </a>

                </div>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="footer-top">
                <div class="footer-top__item">
                    <p class="footer-top__header">HỖ TRỢ KHÁCH HÀNG</p>
                    <ul class="footer-top-item__list">
                        <li class="footer-top__list-item"><a href="" class="footer-top__link">Trung tâm trợ giúp</a> </li>
                        <li class="footer-top__list-item"><a href="" class="footer-top__link"> An toàn mua bán</a></li>
                        <li class="footer-top__list-item"><a href="" class="footer-top__link">Quy định cần biết</a></li>
                        <li class="footer-top__list-item"><a href="" class="footer-top__link">Quy chế quyền riêng tư</a></li>
                        <li class="footer-top__list-item"><a href="" class="footer-top__link">Liên hệ hỗ trợ</a></li>
                    </ul>
                </div>
                <div class="footer-top-item">
                    <p class="footer-top__header">VỀ RAO VẬT</p>
                    <ul class="footer-top-item__list">
                        <li class="footer-top__list-item"><a href="" class="footer-top__link">Giới Thiệu</a></li>
                        <li class="footer-top__list-item"><a href="" class="footer-top__link">Tuyển dụng</a></li>
                        <li class="footer-top__list-item"><a href="" class="footer-top__link">Truyền thông</a></li>
                    </ul>
                </div>
                <div class="footer-top-item">
                    <p class="footer-top__header">LIÊN KẾT</p>

                </div>
            </div>
            <div class="footer-bottom">

            </div>
        </footer>
    </div>

    <script src="~/Asset/admin/js/showImage.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
    <script src="~/Asset/js/loadcity.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Asset/js/datetimepicker.js"></script>
    <script type="text/javascript" src="~/Asset/js/image-uploader.min.js"></script>
    <script src="~/Asset/js/upload-img.js"></script>
    <script src="~/Asset/js/search.js"></script>
    <link href="~/Asset/css/toastr.min.css" rel="stylesheet">
    <script src="~/Asset/js/toastr.min.js"></script>
    <script src="~/Asset/js/checkCountNews.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Asset/js/checkBirth.js"></script>

</body>
</html>