



<div class="list__friends grid__column-4">
    <h1 class="title-list">Danh sách bạn bè</h1>
    <div style=" border-bottom: 1px solid var(--border--color);"></div>
    <div class="friends-item">
        <div class="friends-item-avatar">
            <img src="~/Asset/img/user.png" alt="" width="50" height="50"
                 style="border-radius: 50%;">
        </div>
        <div class="friends-item-info">
            <h1>Nguyễn Hữu Trí</h1>
            <p class="friends-item-cotent">Nội dung tin nhắn</p>
        </div>

    </div>
    <div class="friends-item">
        <div class="friends-item-avatar">
            <img src="~/Asset/img/user.png" alt="" width="50" height="50"
                 style="border-radius: 50%;">
        </div>
        <div class="friends-item-info">
            <h1>Nguyễn Hữu Trí</h1>
            <p class="friends-item-cotent-new">Nội dung tin nhắn</p>
        </div>

    </div>
</div>

