
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:#419A1C;font-size:45px;">
        <b>Rao Vặt</b>
    </div>
    <div>
        <pre style="font-size:15px;">
            <b>Xin Chào</b>
                Rất vui vì bạn đã đăng ký và tham gia vào trang web Rao Vặt của chúng tôi!!!
                Chúng tôi cần xác minh tài khoản Rao Vặt Bạn Vừa Đăng Ký!
                Vui Lòng Nhấn vào <a href="@ViewBag.ConfirmationLink">Đây</a>
        </pre>
    </div>
</body>
</html>

