
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:#419A1C;font-size:45px;">
        <b>Rao Vặt</b>
    </div>
    <div>
        <pre style="font-size:15px;">
        <b>Xin Chào</b>
                Có Yêu cầu thay đổi mật khẩu từ Tài Khoản Rao Vặt của bạn
                Vui Lòng Nhấn vào <a href="@ViewBag.ResetPassWordLink">Đây</a>
                Để Thay đổi mật khẩu
        </pre>
    </div>
</body>
</html>

