
@{
    ViewBag.Title = "ResetPassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid">
    <div style="margin-top:16px;">
        <div>
            <div class="message-error" id="previous" style="opacity:1;">
                <strong id="msg1">Quên Mật Khẩu</strong>
                <strong id="msg2" style="display:none">Email không tồn tại</strong>
                <div  style="display:flex; align-items:center;">
                    <form id="ForgotEmail">
                        <input type="email" required class="auth-form__form-input" name="Email" id="Email" placeholder="Nhập email bạn đã đăng ký" style="margin:0; width:300px;" />
                    </form>
                    <input type="submit" class="btn btn-primary" style="background-color:#E02D1B; margin-left:8px;" value="Xác Nhận" onclick="Verified()" />
                </div>
             
            </div>
            <div class="message-success" id="after" style="display:none;opacity:1;">
                <strong><span class="glyphicon glyphicon-ok"></span>Vui Lòng Check Email của bạn</strong>
            </div>
        </div>

    </div>
</div>
<script>
    function Verified() {
        var email = $('#Email').val();
        $.ajax({
            type: "post",
            url: "/UserLogin/ResetPassWord",
            data: { 'Email':  email},
            success: function (msg) {
                if (msg == "True") {
                    $("#previous").hide();
                    $("#after").show();
                }
                else {
                    $("#msg1").hide();
                    $("#msg2").show();
                }           
            }
        })
    }
</script>

